#!/usr/bin/make -f

export PYBUILD_NAME=borednomore3

%:
	dh $@ --with python3

override_dh_auto_build:
	# No build step needed for python source

override_dh_auto_install:
	# Use the root Makefile to handle the heavy lifting
	$(MAKE) DESTDIR=$(CURDIR)/debian/borednomore3 PREFIX=/usr install

	# Ensure wrappers in the debian folder have correct internal paths
	# (The Makefile handles this, but we force it here for package consistency)
	echo '#!/bin/bash\nexec python3 /usr/lib/borednomore3/borednomore3.py "$$@"' > debian/borednomore3/usr/bin/borednomore3
	echo '#!/bin/bash\nexec python3 /usr/lib/borednomore3/bnm3d.py "$$@"' > debian/borednomore3/usr/bin/bnm3d
	echo '#!/bin/bash\nexec python3 /usr/lib/borednomore3/bnm3.py "$$@"' > debian/borednomore3/usr/bin/bnm3
	echo '#!/bin/bash\nexec python3 /usr/lib/borednomore3/bnm3d-gui.py "$$@"' > debian/borednomore3/usr/bin/bnm3d-gui
	
	chmod 755 debian/borednomore3/usr/bin/borednomore3 \
	          debian/borednomore3/usr/bin/bnm3d \
	          debian/borednomore3/usr/bin/bnm3 \
	          debian/borednomore3/usr/bin/bnm3d-gui
